<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
    <h1>Hello</h1>
    <div id="app">
        <div v-if="showBooks">
            <p>{{ title }}</p>
            <p>Author:{{ author }} Age:{{ age }}</p>
            <button v-on:click="age++">Increase age</button>
            <button v-on:click="age--">Decrease age</button>
            <div @click="title = 'click changing title'">Change title</div>
            <div @click="changeTitle">Change title 2</div>
            <div @click="newTitle('This is new title')">Change new title passing argument in functions</div>      
        </div>  
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">Currently showing books</div>
    </div>
    <script src="app.js"></script>
</body>
</html>